{
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:jest/all",
    "plugin:node/recommended"
  ],
  "plugins": [
    "jest",
    "node"
  ],
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "no-process-exit": "off",
    "no-return-await": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
